.programming_head{
  font-size: 60px;
}
.text{
 }
 .div_container{
  margin: 15%;

}
.main_div_container{
   display: inline-block;
   margin-left: 5%;
   margin-right: 5%;
   padding: 5%;

}


.project1{
  text-align: center;

}
.project2{
  padding-top:50px;
  padding-bottom: 30px;
  background-color: #effffb;
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-discription{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;

}
.project-discription > p{

}
.nevigation
{
  padding: 30px;

  text-align: center;
  background-color: #effffb;
  margin-bottom: 0px;
}
a{
  padding: 10px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #66BFBF;
  text-decoration: none;
}
.brand{

  margin-left: 50px;
  padding-left: 70px;
  float: left;
  display: inline-block;
}
.refrence{

  padding-right: 50px;
  float: right;
  display: inline-block;
}
.TopContainer{

  text-align: center;
  padding: 100px;
  background-color: #effffb;

}
img{
  border-radius: 100px;
}
.mywork-image{
  height: 300px;
  width: 500px;
  padding-top: -30px;
  border-radius: 0px;
  border: 5px solid gray;
}
.contact-it{
  margin-bottom: 50px;
}
.profile_img{
	height:170px;
  border-radius: 100%;
}
.Programming_img{
  width: 25%;
  float: left;
  border-radius: 150px;
margin-right: 10px;
}
.Developer_img{
  width: 25%;
  float : right;
  margin-left: 100px
  border-radius: 150px;
}
.middle-container{

    text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.bottom-container{

    text-align: center;
  padding: 50px;
  background-color: #66BFBF
}
.intro{
  width: 40%;
  margin: auto;
}
p{

  line-height: 2;
}
hr{
  border-style: dotted  #EAF6F6 6px;
  border-bottom: none;
  width: 4%;

}
body{
  margin-right: 0px;
  text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
   font-size: 5.625rem;
    margin: 50px auto 0px 50px;
    font-family: 'Sacramento', cursive;
}
h2{
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
h4{
  color: #66bfbf;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.brandimage{
  height: 100px;
  width: 100px;
  border-radius: 25px;
}
.refrence-link:hover{
  color: black;
  letter-spacing: 0.2rem;

}
h3{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}
.top-cloud{
  position:absolute;
  top : 150px;
  right:220px;
}
.bottom-cloud{
  left:300px;
  position: absolute;
}
.project-class{
  height: 100px;
  weight: 100px;
}
.skill-row{
  text-align: left;
  width: 50%;
  line-height: 2;
  margin: 100px auto 100px auto;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#00aae8;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
}
.footer-link{
  color: blue;
  text-decoration: none;
  margin: 30px;
}
.footer-link:hover{
  color: white;
}
.copyright{
  color: white;
  font-size: 12px;
  margin-top: 40px;
}
